/* Three viewport boundaries where the paragraph background changes colour */

@media only screen and (max-width: 768px) {
    p {
        background-color: beige;
    }
}

@media only screen and (max-width: 425px) {
    p {
        background-color: whitesmoke;
    }
}

@media only screen and (max-width: 320px) {
    p {
        background-color: lightblue;
    }
}


/* CSS override to various elements */

.btn {
    background-color: rgb(40, 98, 153);
}

a:hover {
    background-color: lightblue;
}

img {
    opacity: 0.80;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}


/* .carousel-inner {
    width: 100%;
    height: 20rem;
    object-fit: cover;
} */